<h1>All Channels</h1>

<%= will_paginate %>
<%= form_for user_path(@current_user.id) do |f|%>
    <% @channels.each do |channel|%>
    <div class="">
        <img class="h-12 w-12" src="https://styles.redditmedia.com/t5_2r0ij/styles/communityIcon_yor9myhxz5x11.png" alt="Channel Logo", style="width: 40px">
    </div>
    <div>
        <%=f.label :name,  channel.name %>
    <div class="user-follow-btn">  
        <% if @current_user.channels.include? (channel)%>
            <button type = "submit" class="btn-secondary", value = "unfollow">Unfollow</button>    
        <% else %>   
            <button type = "submit" class="btn-secondary",value = "follow" >Follow</button> 
        <% end %>

        </div>
  </div>
</div>
<% end %>
<% end %>
    <%= f.submit "save"%>
<%= will_paginate %>