<div class="container">
  <span class="channel-show light-blue-text darken-3">Channel: #<%= @channel.name%></span><span style="margin-left: 30px"><%= @channel.users.count%> Members and <%= @channel.posts.count%> Posts</span>
  <div>
    <div class="btn blue darken-1 white-text" style="margin: 20px auto"><%= link_to "Create Post", new_post_path(@channel_id), :class => "white-text" %> </div>
  </div>
  <section style="width: 100%;">
    <% @channel.posts.order(created_at: :desc).each do |post|%>
      <div class="card" style="display: inline-block; height: 220px; width: 500px;">
        <div class="card-content" style="height: 160px;">
          <span class="card-title"><%= link_to post.title, post_path(post.id) %></span>
          <p><%= truncate post.content, length: 150%>...<%=link_to "read more", post_path(post.id) %></p>
        </div>
        <div class="card-action" style="height: 60px;">
          <span><%= post.user.name %></span>
          <span class="right"><%= time_ago_in_words(post.created_at) %></span>
        </div>
      </div>
    <% end %>
  </section>
</div>
