<h1><%= pluralize(@posts.count, "Result") %></h1>
<%= render "search/search_form"%>

<div class="container">
    <table>
        <thead>
            <tr>
                <th><%= sort_link(@query, :title, "Title", default_order: :asc)%></th>
                <th><%= sort_link(@query, :content, "Post Content")%></th>
                <th><%= sort_link(@query, :channel_name, "Channel") %></th>
                <th><%= sort_link(@query, :user_name, "Users")%></th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post|%>
            <tr>
                <td><%= link_to post.title, post%></td>
                <td><%= link_to post.content.truncate_words(25) %></td>
                <td><%= link_to post.channel.name, post.channel %></td>
                <td><%= link_to post.user.name, post.user%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>