<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class="form">
<div class="log-in-form">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    
    <%= form_tag login_path do %>
        <%= label_tag :email %>
        <%= email_field_tag :email, "",class: "form-control px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block rounded-md sm:text-sm focus:ring-1"%>
        <%= label_tag :password %>
        <%= password_field_tag :password, "", class: "form-control px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block rounded-md sm:text-sm focus:ring-1" %>
        <%= label_tag :remember_me, class: "checkbox inline" do %>
        <%= check_box_tag :remember_me %>
        <span>Remember me on this computer</span>
        <% end %>


        <%= submit_tag "Log in", :class => "form-btn py-1 px-2 bg-sky-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"%>

    <% end %>

    <p>New to Gaddit? <%= link_to "SIGN UP!", new_user_path, :class => "signup-link" %></p>

</div>
</div>