<h1 class="user-profile-title">User Profile<h1>

<div class="user-profile">

    <div class="user-info">
        <h3> <%= @current_user.name %></h3>
        <%= form_for(@user, :html => {:multipart => true}) do |f|%>
            <%= f.label "Profile Image: "%>
            <%= f.cl_image_upload :avatar %>
            <%= f.submit "Update image"%>
        <% end %>
        <%= cl_image_tag  @current_user.avatar, style: "width: 100px"%>
    </div>

    

    <div class="user-channels container mt-5">
        <div class="user-channel-header row d-inline align-items-center">
            <h2>Channel List</h2>
            <button class="btn btn-primary btn-md shadow-sm text-white"><%= link_to "Add More", channels_path, class:"text-decoration-none" %></button>
        </div>


    
        <div class="row">   
            <div class="col-xl-3 col-sm-6 col-12">
                <% @current_user.channels.each do |channel|%>
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center ">  
                                    <img class="channel-img rounded-start" src="https://res.cloudinary.com/dgpwctfjt/image/upload/v1649905020/spn0au6q3kndekxbkpg0.png" alt="Channel Logo", width= "40px">
                                </div>
                                <div class="media-body-text-right">
                                    <p><%= link_to channel.name, channel_path(channel), class: "text-decoration-none d-line"%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

</div>