
<h1>Sign up</h1>

<div class="form">

<% if @user.errors.any? %>
    <div id="error_explaination">
        The form contains <%= pluralize(@user.errors.count, "error")%>
    </div>
    <ol>
    <%= @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ol>
<% end %>
<!--securtiy issue: need to fix the error msg regards "Email has been taken"-->

<div class="sign-up-form"> 
<%= form_for @user do |f| %>

    <%=f.label :name %>
    <%= f.text_field :name, :required => true, :class => "form-control  px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block rounded-md sm:text-sm focus:ring-1"%>   
    <%=f.label :email %>
    <%= f.text_field :email, :class => "form-control  px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block rounded-md sm:text-sm focus:ring-1" %>
    <%= f.label :password %>
    <%= f.password_field :password, :class => "form-control  px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block rounded-md sm:text-sm focus:ring-1"%>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "form-control  px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block rounded-md sm:text-sm focus:ring-1"%>
    <%= f.submit "Create My Account", :class => "form-btn py-1 px-2 bg-sky-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"%>

<% end %>
</div>
</div>