<div class="new-post-form container col s6">
    <h1 class ="sign-up-title text-center mt-5">Sign up</h1>
    <div class="sign-up-form row">    
        <div class="col s12"> 
            <%= form_for @user do |f| %>
            <div class="row">
                <div class="input-field col s12">
                    <%= f.text_field :name, :required => true, :class => "validate"%>   
                    <%=f.label :name ,:class => "" %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <%= f.text_field :email, :class => "validate" %>   
                    <%=f.label :email,:class => ""  %>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">            
                    <%= f.password_field :password, :class => "validate"%>
                    <%= f.label :password,:class => ""  %>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">  
                    <%= f.password_field :password_confirmation, :class => "validate"%>
                    <%= f.label :password_confirmation,:class => ""  %>
                </div>
            </div>
            <%= f.submit "Create My Account", :class => "light-blue darken-3 btn rounded" %>
        <% end %>
        <div class="d-grid gap-2 justify-content-end">

            <% if @user.errors.any? %>
                <div id="error_explaination">
                    The form contains <%= pluralize(@user.errors.count, "error")%>
                </div>
            <ol>
                <%= @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ol>
            <% end %>
        </div >
    </div>
</div>

