<div class="py-5">
<% if @current_user.present? %>
    <h1 id = "user-header">Welcome <%= @current_user.name %>!</h1>
<% end %>

<div class="create-post">
    <button class="btn btn-primary btn-lg shadow-sm text-white"><%= link_to "Create Post", new_post_path %> </button>
</div>

</div>

<div class="row g-5">


<div class="channel-list col-md-4 col-lg-4 order-md-last shadow-sm rounded-3 mb-4 card">
    <div class="card-header py-3 bg-$blue-500 ">
        <h3 class="my-0 fw-normal">Channel List</h3>
        <button class="btn-primary">Edit</button>
    </div>
    <ul class="list-unstyled-text-small">
        <% @current_user.channels.each do |channel| %>
            <li class="mb-1"> <%= link_to channel.name, channel_path(channel.id), class: "link-secondary text-decoration-none" %></li>
        <% end %>
    </ul>   
 
</div>

<div class=" post-list card mb-3" style = "max-width: 60vw">

    <ul role="list" class="user-posts">
    <% @posts.each do |post|%>
        <div class= "post-list">
        <div class="row g-0">
            <div class="col-md-4">
            <%= image_tag "https://avatars.githubusercontent.com/u/36207117?v=4",:class => "img-fluid text-center rounded-start", :style => "width: 50px" %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <p class="post-channel">
                    Channel: <%= link_to post.channel.name, channel_path(post.channel.id)%>
                </p>
                <p class="post-title">
                    Title: <%= link_to post.title, post_path(post.id)%>
                </p>
                <p class="post-timestamp">
                    Posted created at <%= time_ago_in_words(post.created_at) %> ago
                </p>
                <p class="post-content">
                  <%= truncate post.content, length: 150%>...<%=link_to "read more", post_path(post.id) %>
                </p>
                <% if post.links.present? %>
                <p class="post-link">
                    <% cl_image_tag(post.links) %>
                </p>
                <%end %>
                </div>
            </div>
        </div>
        </div>
    <% end %>
    </ul>

</div>




</div>