<div class="py-5">
<% if @current_user.present? %>
    <h1 id = "user-header">Welcome <%= @current_user.name %>!</h1>
<% end %>

<div class="create-post">
    <button class="btn btn-primary btn-lg shadow-sm text-light"><%= link_to "Create Post", new_post_path %> </button>
</div>

</div>

<div class="row g-5">


<div class="channel-list col-md-5 col-lg-4 order-md-last shadow-sm rounded-3 mb-4 card">
    <div class="card-header py-3 bg-$blue-500 ">
        <h3 class="my-0 fw-normal">Channel List</h3>
    </div>
    <ul class="list-unstyled-text-small">
        <% @current_user.channels.each do |channel| %>
            <li class="mb-1"> <%= link_to channel.name, channel_path(channel.id), class: "link-secondary text-decoration-none" %></li>
        <% end %>
    </ul>   

</div>

<div class=" post-list col-md-7 col-lg-8">
<%= will_paginate @posts%>
    <ul role="list" class="user-posts">
    <% @posts.each do |post|%>
        <div class= "post-list">
        <li id="post-<%post.id%>">
            <%= image_tag "https://avatars.githubusercontent.com/u/36207117?v=4",:class => ""%>
            <div class="ml-3 overflow-hidden">
                <p class="post-title">
                    Title: <%= link_to post.title, post_path(post.id)%>
                </p>
                <p class="post-timestamp">
                    Posted created at <%= time_ago_in_words(post.created_at) %> ago
                </p>
                <p class="post-content">
                    <%= truncate post.content, length: 150%>...<%=link_to "read more", post_path(post.id) %>
                <% if post.image.present? %>
                <p class="post-link">
                    <% cl_image_tag(post.image, %>
                </p>
                </p>
            </div>
        </li>
        </div>
    <% end %>
    </ul>
<%= will_paginate @posts%>
</div>




</div>