<div class="new-post-form container col s6">
    <h1 class = "new-post-header">Edit Post</h1>
    <div class="row">
        <section class="col s12">
            <%=form_for @post, :html =>{:multipart => true} do |f|%>
                <div class="row">
                    <div class = "input-field col s6">
                     <select>
                        <option value="<%=@post.channel.id%>"selected>
                            <%=@post.channel.name%>    
                        </option>
                    </select>
                    <input type="hidden" name ="post[channel_id]" value="<%=@post.channel_id%>">
                    <label>Channel</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <%= f.text_field :title, class:"validate"%>
                    <%= f.label :title, class:"" %>
                    </div> 
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <%=f.text_area :content, class:"materialize-textarea",:row => 10 %>
                    <%=f.label :content, class:"" %>
                    </div>
                </div> 
                <div class ="row">
                    <div class="input-field col s12">
                        <%= f.label "Image or Video:", :class => "form-label"%><br><br> 
                    </div>
                    <div class="file-path-wrapper">        <%= f.cl_image_upload :links, :class => "validate"%>
                    </div>
                </div>
                <%= f.submit "Update",class:"new-post-btn light-blue darken-3 btn rounded"%>
            <% end %>
            </form>
            
        </section>
    
    </div>
</div>
