
<div class="new-post-form container col s6">
    <h1 class = "new-post-header">Create Post</h1>
    <div class="row">
        <section class="col s12">
            <%=form_for @post, :html =>{:multipart => true} do |f|%>
                <div class="row">
                    <div class = "input-field col s6">
                    <% if @channel_id %>
                    <select>
                        <option value="<%=@channel.id%>"selected>
                            <%=@channel.name%>    
                        </option>
                    </select>
                    <input type="hidden" name ="post[channel_id]" value="<%=@channel_id%>">
                    <% else %>
                    <select name ="post[channel_id]">
                        <option value="" disabled selected>Choose a Channel</option>
                        <% @current_user.channels.each do |channel|%>
                            <option value="<%=channel.id%>"><%=channel.name%></option>
                        <% end %>
                    </select>
                    <% end %>

                    <label>Channel</label>
                    </div>
                </div>

                    
                <div class="row">
                    <div class="input-field col s12">
                        <%= f.text_field :title, class:"validate"%>
                        <%= f.label :title, class:"" %>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <%=f.text_area :content, class:"materialize-textarea",id:"post-content",:row => 10 %>
                        <%=f.label :content, class:"" %>
                    </div>
                </div>

                <div class ="row">
                    <div class="input-field col s12">
                        <%= f.label "Accept Image only:", :class => ""%>
                    </div>
                    <div class="file-path-wrapper">
                        <%= f.cl_image_upload :links, :class => "validate" %>
                    </div>
                </div>
                <%= f.submit "Post",class:"update-post-btn light-blue darken-3 btn rounded"%>
            <% end %>
            </form>
            
        </section>
    
    </div>
</div>
