
<div class="container-sm $theme-colors:($blue-100)">
    <div class="wrapper">
        <section class="new-post ">
            <header>Create Post</header>
            <%=form_for @post, :html =>{:multipart => true} do |f|%>
                <div class="new-post-content  form-floacting mb-3">
                    <%= f.label :channel_id, class: "form-label" %>
                    <%= f.select(:channel_id, Channel.pluck(:name, :id), :include_blank => true, class:"form-select")%>
                    <%= f.label :title, class:"floatingInput" %>
                    <%= f.text_field :title, class:"form-control"%>

                </div>
                    <%=f.label :content, class:"floatingInput" %>
                    <%=f.text_area :content, class:"form-control"%>


                <div class ="new-post-options mb-3">
                    <p>Add to Your Post</p>
                    <%= f.label "Add Image:", :class => "form-label"%> 
                    <%= f.cl_image_upload :link, :class => "form-control"%>
                </div>
                <%= f.submit class:"btn btn-primary"%>
            <% end %>
            </form>
            

        </section>
    
    </div>
</div>


