<!DOCTYPE html>
<html>
  <head>
    <title>Gaddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= cloudinary_js_config %>

    
  </head>
<body>
    <nav class ="px-3 py-2 bg-black text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-around justify-content-lg-start">
          <%= link_to image_tag('https://res.cloudinary.com/dgpwctfjt/image/upload/v1650021322/G-4_njoc1l.png', width: "40", class: "bi me-2"), root_path, :class => "d-flex align-items-center my-2 my-lg-0 text-white text-decoration-none", :remote => true %>
          <% if @current_user.present? %>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
              <li><%= link_to "New post", new_post_path, class: "nav-link px-2 text-white" %></li>
              <li><%= link_to "All channels", channels_path, class: "nav-link px-2 text-white" %></li>
              <li><%= link_to "Edit profile", edit_user_path(@current_user.id), class: "nav-link px-2 text-white" %></li>
            </ul>
            <div class="text-end ">
              <button class ="btn btn-sm-warning ">
                <%= link_to "Log out", login_path, :method => "delete", class: "nav-link px-2" %>
              </button>
            <div>
            <% else %>
            <div class="text-end justify-content-around">
              <button class ="btn btn-outline-light me-2 ">
                <%= link_to "Log in", login_path, class: "nav-link px-2 text-white" %>
              </button>
              <button class ="btn text-white ">
                <%= link_to "Sign up", new_user_path, class:"nav-link px-2 " %>
              </button>
            </div>
          <% end %>
          </div>
        </div>
      </div>     
    </nav>
    <div>
      <%= yield  %>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class = "btn btn-primary me-md-2" type="button" id="back-to-top" href="#">
            Back to Top
        </button>
    </div>
  

  </body>
</html>